.suggestionscontainer {
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 40px;
  z-index: 43;
  height: 254px;
  transition: background-color 200ms ease, opacity 200ms ease;
}

.suggestionscontainer:not(.isActive) {
  pointer-events: none;
  opacity: 0;
}

.suggestions {
  flex-flow: column;
  flex-basis: 460px;
}

.suggestion:first-of-type:not(.selected) {
  border-top-color: transparent;
}

.suggestion:first-of-type {
  margin-top: 10px;
}

.suggestion:last-of-type {
  margin-bottom: 10px;
}

.suggestion {
  line-height: 38px;
  vertical-align: center;
  border: var(--hwd-pixel) solid transparent;
  border-top-color: rgba(0,0,0,0.07);
  cursor: pointer;
  margin-bottom: calc(-1 * var(--hwd-pixel));
}

.suggestion.selected {
  background-color: rgba(0,0,0,0.07);
}

.suggestion.selected:last-of-type {
  border-bottom-color: rgba(0,0,0,0.07);
}

.isdark .suggestion.selected {
  background-color: rgba(255,255,255,0.15);
}

.isdark .suggestion.selected:last-of-type {
  border-bottom-color: rgba(255,255,255,0.15);
}

.isdark .suggestion {
  border-top-color: rgba(255,255,255,0.15);
}

.suggestion:before {
  font-size: 16px;
  font-family: 'FontAwesome';
  width: 30px;
  text-align: center;
  margin-right: 8px; /* To align with urlinput */
}

.suggestion.search:before {
  content: "\f002";
}

.suggestion.history:before {
  content: "\f14e";
}
