.suggestionscontainer {
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 50px;
  z-index: 43;
  height: 260px;
  transition: background-color 200ms ease, opacity 200ms ease;
}

.suggestionscontainer:not(.isActive) {
  pointer-events: none;
  opacity: 0;
}

.suggestions {
  flex-flow: column;
  flex-basis: 460px;
}

.suggestion:first-of-type {
  border-top: 0;
}

.suggestion {
  line-height: 40px;
  vertical-align: middle;
  border-top: 1px solid rgba(0,0,0,0.05);
  cursor: pointer;
}

.suggestion.selected {
  background-clip: content-box;
  background-color: rgba(0,0,0,0.05);
}

.isdark .suggestion.selected {
  background-color: rgba(255,255,255,0.15);
}

.isdark .suggestion {
  border-top-color: rgba(255,255,255,0.15);
}

.suggestion:before {
  font-size: 16px;
  font-family: 'FontAwesome';
  width: 30px;
  text-align: center;
}

.suggestion.search:before {
  content: "\f002";
}

.suggestion.history:before {
  content: "\f14e";
}
