.dashboard {
  background-position: center center;
  background-size: cover;
  align-items: center;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  color: #555;
  /* The top padding places the dashboard below the tabstrip */
  margin-top: 90px;
  transition: background-color 200ms ease;
}

.dashboard-tiles {
  align-content: center;
  flex: 1 0 auto;
  flex-flow: row wrap;
  /* Add offset to visually center tiles in space above wallpaper swatch
  picker. */
  padding-top: 10px;
  width: 800px;
}

.tile-large {
  align-items: center;
  /* Setting the flex property on tiles is important to ensure that large titles
  don't blow up the grid. */
  flex: 0 0 200px;
  flex-direction: column;
  /* Setting the height allows us to maintain extra space beneath title */
  height: 150px;
  padding-top: 20px;
}

.tile-large .tile-thumbnail {
  background-color: #fff;
  background-clip: content-box;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.05);
  height: 100px;
  transition: transform 80ms ease-out;
  will-change: transform;
  width: 160px;
}

.tile-large:hover .tile-thumbnail {
  transform: scale(1.1);
}

.tile-title {
  font-weight: bold;
  font-size: 12px;
  opacity: 0;
  padding: 15px 0 0;
  transition: opacity 160ms ease-out;
  white-space: nowrap;
}
.tile-large:hover .tile-title {
  opacity: 1;
}

.wallpaper-swatches {
  flex-flow: row nowrap;
}

.wallpaper-swatch {
  background: #000;
  border: 2px solid rgba(255,255,255,0.25);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  border-radius: 50%;
  height: 30px;
  transition: transform 80ms ease-out;
  margin: 0 5px 10px;
  width: 30px;
}

.wallpaper-swatch:hover {
  transform: scale(1.3);
}

@media (max-width: 800px) {
  .dashboard-tiles {
    width: 520px;
  }

  .dashboard .tile-large {
    flex: 0 0 130px;
    height: 110px;
    padding-top: 15px 0 0;
  }

  .tile-large .tile-thumbnail {
    border-radius: 8px;
    width: 100px;
    height: 62.5px;
  }
}