.locationbar {
  -moz-window-dragging: no-drag;
  align-items: center;
  flex-basis: 460px;
  border-radius: 3px;
  line-height: 30px;
  background-color: rgba(0,0,0,0.07);
  overflow: hidden;
}

.locationbar > * {
  z-index: 100;
}

.progressbar {
  z-index: 99;
  display: block;
  width: 100%;
  height: 3px;
  margin-left: -100%;
  position: absolute;
  top: 40px;
  left: 0;
}

.urlinput,
.pagesummary {
  overflow: hidden;
  width: 100%;
}

.navbar:not(.urledit) .urlinput,
.navbar.urledit .pagesummary {
  /* We don't use display:none. We want the input
   * to be focussable */
  max-width: 0;
  border-width: 0;
  padding: 0;
}

.pagesummary {
  display: block;
  text-overflow: ellipsis;
  padding: 0 30px;
  text-align: center;
}

.pagesummary,
.urlinput {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: transparent;
  line-height: 30px;
  padding: 0 8px;
  border-color: rgba(0,0,0,0.07);
}

/* Dark theme case */
.isdark .locationbar {
  background-color: rgba(255,255,255,0.15);
}

.isdark .pagesummary,
.isdark .urlinput  {
  border-color: rgba(0,0,0,0.1);
}

.urlinput {
  border-radius: 0;
  padding: 0 8px;
}

.backbutton,
.reloadbutton,
.stopbutton {
  display: block;
  min-width: 30px;
  height: 30px;
  font-family: FontAwesome;
  text-align: center;
  font-size: 17px;
  vertical-align: middle;
}

.backbutton::after,
.reloadbutton::after,
.stopbutton::after {
  pointer-events: none;
  display: block;
  line-height: 30px;
  vertical-align: middle;
}

.backbutton::after {
  transform: translateY(var(--hwd-pixel)); /* fixme. fontawesome alignment issue*/
}

.backbutton::after {   content: "\f053" }
.reloadbutton::after { content: "\f01e" }
.stopbutton::after {   content: "\f00d" }

.navbar.loading .reloadbutton,
.navbar:not(.loading) .stopbutton {
  display: none;
}

.navbar:not(.cangoback) .backbutton,
.navbar:not(.canreload) .reloadbutton {
  opacity: 0.2;
  pointer-events: none;
}

.pagesummary > span {
  display: inline;
}

.pagetitle {
  padding: 5px;
}

.pageurlsummary {
  font-weight: bold;
}

.navbar.ssl .pageurlsummary::before {
  font-family: FontAwesome;
  font-weight: normal;
  content: "\f023";
  margin-right: 6px;
  vertical-align: middle;
}
