.navbar {
  background-color: inherit;
  -moz-window-dragging: drag;
  padding: 10px;
  position: relative;
  justify-content: space-between;
  scroll-snap-coordinate: 0 0;
  transition: background-color 200ms ease;
}

.freeendspacer {
  /* Mirror .windowctrls width to align the title */
  width: 67px;
}
