/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.navbar {
  padding: 4px 6px;
}

[os="osx"] .navbar {
  border-style: solid;
  border-width: var(--hwd-pixel) 0;
}

.navbar > button, .urlbar > button {
  width: 18px;
  min-width: 18px;
  height: 18px;
  padding: 2px 4px;
  border: var(--hwd-pixel) solid transparent;
  background-origin: content-box, border-box, border-box;
  background-clip: content-box, border-box, border-box;
  background-size: 756px 72px;
  border-radius: 3px;
}

.urlbar > button {
 background-image: url(images/shared/reload-stop-go.png);
 background-size: 42px 28px;
 width: 14px;
 height: 14px;
 min-width:14px;
}

.navbar > button.disabled, .urlbar > button.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.navbar > button:hover {
  border-color: var(--toolbarbutton-hover-bordercolor);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
}

.navbar > button:hover:active {
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
}

@media (min-resolution: 2dppx) {
  .navbar > button {
    background-image: url(images/shared/Toolbar@2x.png);
  }
  .urlbar > button {
    background-image: url(images/shared/reload-stop-go@2x.png);
  }
  .navbar > button:hover {
    background-image: url(images/shared/Toolbar@2x.png), var(--toolbarbutton-hover-background-image);
  }
  .navbar > button:hover:active {
    background-image: url(images/shared/Toolbar@2x.png), var(--toolbarbutton-active-background-image);
  }
}

.navbar.loading .reload-button,
.navbar:not(.loading) .stop-button {
  display: none;
}

.back-button {    background-position: -36px   0px; }
.forward-button { background-position: -54px   0px; }
.reload-button {  background-position: -73px   0px; }
.stop-button {    background-position: -90px   0px; }
.menu-button {    background-position: -468px  0px; }
  
   /* styles for the urlbar buttons */

.urlbar > .reload-button { background-position: 0px 0px; }
.urlbar > .reload-button:active { background-position: 0px -14px; }
.urlbar > .stop-button { background-position: -14px 0px; }
.urlbar > .stop-button:active { background-position: -14px -14px; }
 

.urlbar, .searchbar {
  border-radius: 3px;
  margin: 4px 6px 3px;
  border-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
}

.searchbar {
  max-width: 30vw;
}

.urlinput, .searchinput {
  font: -moz-field;
  font-size: 12px;
  line-height: 22px;
  vertical-align: bottom;
  min-width: 0;
}

.searchselector {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 6px;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-size: 14px 14px;
}

.identity {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 6px;
  background-size: 32px 16px;
  background-position: -16px 0;
}

.identity:hover {
  background-position: 0 0;
}


