/***************************************
 *                                     *
 *               NAVBAR                *
 *                                     *
 ***************************************/

.navbar {
  background-color: inherit;
  -moz-window-dragging: drag;
  padding: 5px;
  justify-content: space-between;
  scroll-snap-coordinate: 0 0;
}

.freeendspacer {
  /* Mirror .windowctrls width to align the title */
  width: 67px;
}
