/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.verticaltabstrip {
  background-color: #2F3032;
  width: 200px;
  flex-grow: 0;
  overflow: hidden;
}

.vtab > .favicon,
.vtab > .throbber,
.vtab > .close-button {
  width: 16px;
  height: 16px;
  display: flex;
  margin: 0 8px;
  flex-shrink: 0;
}

.vtab {
  -moz-user-select: none;
  cursor: default;
  color: #9C9C9C;
  padding: 8px 0 8px 5px;
  border-left: 1px solid black;
}

.vtab:not(.selected):hover {
  background-color: #222222;
}

.vtab.selected {
  background-color: #424445;
  color: white;
  background-image: linear-gradient(to left, #7B7B7B,  #7B7B7B);
  background-size: 5px 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px rgba(0,0,0,0.8), inset 0 0 1px rgba(255,255,255,0.2);
}

.vtab > .throbber {
  background-image: url(images/shared/loading.png);
  background-size: 16px 16px;
}

@media (min-resolution: 2dppx) {
  .vtab > .throbber {
    background-image: url(images/shared/loading@2x.png);
  }
}

.vtab.loading > .favicon,
.vtab:not(.loading) > .throbber {
  display: none;
}

.vtab > .title-wrapper {
  flex-basis: auto;
  flex-grow: 1;
  min-width: 0;
}

.vtab > .title-wrapper > .title {
  flex-basis: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vtab:not(.selected):not(:hover) > .close-button {
  opacity: 0;
}

.vtab > .close-button {
  background-color: transparent;
  background-image: url(images/shared/close.png);
  background-size: 64px 16px;;
  background-position: -48px 0;
  opacity: 0.8;
}

.vtab > .close-button:hover {
  opacity: 1;
}

@media (min-resolution: 2dppx) {
  .vtab > .close-button {
    background-image: url(images/shared/close@2x.png);
  }
}
