.tabstripcontainer {
  text-align: center;
  width: 100vw;
  height: 90px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 43;
  pointer-events: none;
  opacity: 0;
  transition: background-color 200ms ease;
}

.tabstrip {
  display: inline-block;

  /* Temporary fix. We use order:n to sort tabs,
   * so we need to keep using the flex box model
   * here. */
  display: flex;
  justify-content: center;
}

.showtabstrip .tabstripcontainer {
  pointer-events: auto;
  opacity: 1;
}

.tabstripkillzone {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: rgba(0,0,0,0.05);
  transition: background-color 200ms linear;
  z-index: 42;
}

.tabstripkillzone-hidden {
  background-color: rgba(0,0,0,0);
  pointer-events: none;
}

.showtabstrip .tab-thumbnail {
  will-change: transform;
}

.tab {
  /* Keep buffer space around the visual thumbnail to make them easier
  to click. */
  height: 90px;
  width: 100px;
  position: relative;
}

.tab-thumbnail {
  display: inline-block;
  background-color: #fff;
  background-size: cover;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.07);
  border-radius: 8px;
  height: 62px;
  margin: 9px 0 0;
  transform: scale(0.8);
  transition: transform 150ms ease;
  width: 100px;
  overflow: hidden;
}

.tab-thumbnail > img {
  width: 100%;
}

.tab:first-of-type {
  margin-left: 0;
}

.tab:last-of-type {
  margin-right: 0;
}

.tab.selected .tab-thumbnail {
  transform: scale(1);
}

.tab-close-button {
  display: block;
  position: absolute;
  z-index: 2;
  line-height: 36px; /* big hitzone */
  vertical-align: middle;
  text-align: center;
  width: 36px;
  right: -18px; /* (hitzone / 2) */
  top: -9px; /* 9px - (hitzone / 2) see thumbnail margin top */
  opacity: 0;
  pointer-events: none;
}

.tab-close-button::after {
  cursor: default;
  content: "×";
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  width: 18px;
  background-color: #444;
  border-radius: 50%;
  color: white;
  border: 2px solid white;
}

.tab:hover .tab-close-button {
  opacity: 1;
  transition: opacity 150ms 250ms ease;
  pointer-events: auto;
}

.tab-dashboard .tab-thumbnail {
  background: transparent;
  border: 1px solid rgba(0,0,0,0.1);
}

.tab-dashboard .tab-thumbnail::after {
  color: rgba(0,0,0,0.2);
  content: "\f067";
  cursor: default;
  display: block;
  font: 24px/62.5px FontAwesome;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.tab-dashboard .tab-thumbnail {
  background: transparent;
  border: 1px solid rgba(0,0,0,0.1);
}

.tabstripcontainer.isdark .tab-thumbnail::after {
  color: rgba(255,255,255,0.4);
}

.tabstripcontainer.isdark .tab-thumbnail {
  border: 1px solid rgba(255,255,255,0.2);
}
