.tabstripcontainer {
  justify-content: center;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 43;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease, background-color 200ms ease;
}

main.showtabstrip .tabstripcontainer {
  pointer-events: auto;
  opacity: 1;
}

.tabstripkillzone {
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  height: calc(100vh - 40px);
  width: 100vw;
  background-color: rgba(0,0,0,0);
  transition: background-color 200ms ease;
  pointer-events: none;
  z-index: 42;
}

main.showtabstrip .tabstripkillzone {
  pointer-events: auto;
  background-color: rgba(0,0,0,0.05);
}

main.showtabstrip .tab-thumbnail {
  will-change: transform;
}

.tab {
  /* Keep buffer space around the visual thumbnail to make them easier
  to click. */
  height: 100px;
  width: 100px;
  position: relative;
}

.tab-thumbnail {
  background: white;
  background-size: cover;
  border: 1px solid rgba(0,0,0,0.07);
  border-radius: 4px;
  height: 62.5px;
  margin: 16px 0 0;
  transform: scale(0.8);
  transition: transform 150ms ease;
  width: 100px;
}

.tab:first-of-type {
  margin-left: 0;
}

.tab:last-of-type {
  margin-right: 0;
}

.tab.selected .tab-thumbnail {
  transform: scale(1);
}

.tab-close-button {
  font-family: FontAwesome;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 7px;
  right: -9px;
  background: #222;
  color: white;

  z-index: 2;
  border-radius: 50%;

  display: none;
}


.tab-close-button:after {
  content: "\f00d";
}

.tab:hover .tab-close-button {
  display: block;
}
