/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --hwd-pixel: 1px;
  --bg: white;
}

@media (min-resolution: 2dppx) {
  :root {
    --hwd-pixel: 0.5px;
  }
}

* {
  -moz-appearance: none;
  background-color: transparent;
  background-image: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  border-width: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 18px;
  image-rendering: -moz-crisp-edges;
  white-space: nowrap;
  vertical-align: middle;
}

[hidden="true"] {
  display: none;
}

*::-moz-focus-inner {
  border: 0;
}

/* Let's use flexbox everywhere */
main * {
  display: flex;
}

tab-iframe {
  height: 100vh;
  flex-grow: 1;
}

iframe {
  flex-grow: 1;
}

main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  flex-flow: column;
  background-color: var(--bg);
  color: #404245;
}

main.dark-bg {
  color: #BBB;
}


/***************************************
 *                                     *
 *               NAVBAR                *
 *                                     *
 ***************************************/

.navbar {
  -moz-window-dragging: drag;
  padding: 8px 16px 8px 8px;
  justify-content: space-between;
}

.navbarendspacer {
  /* Mirror .windowctrls width to align the title */
  width: 60px;
}

/***************************************
 *                                     *
 *               URLBAR                *
 *                                     *
 ***************************************/

.urlbar {
  -moz-window-dragging: no-drag;
  padding: 0 12px;
  border-radius: 100px;
  align-items: center;
}

.navbar:not(.urledit) .urlinput,
.navbar.urledit .pagesummary {
  /* We don't use display:none. We want the input
   * to be focussable */
  max-width: 0;
  overflow: hidden;
}

p.pagesummary {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: content;
}

.pagesummary > span {
  display: inline;
}

main:not(.dark-bg) .pageurlsummary {
  font-weight: bold;
}

main.dark-bg .pageurlsummary {
  color: white;
}

.navbar.urledit .urlbar,
.navbar.loading .urlbar,
.urlbar:hover {
  background-color: #CFD8E1;
}

.navbar.loading .urlbar {
  background-image: linear-gradient(110deg, transparent 20%,  #ADB4BB 20%, #ADB4BB 80%, transparent 80%);
  background-size: 100px 100%;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: urlloading 1s linear infinite;
}

@keyframes urlloading { to { background-position: 100px 0 } }

/***************************************
 *                                     *
 *         WINDOW CONTROLS             *
 *                                     *
 ***************************************/

.windowctrls {
  align-items: center;
  flex-shrink: 0;
}

.windowctrl {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  border-style: solid;
  border-width: var(--hwd-pixel);
}

.win-close-button {
  background-color: hsl(4, 100%, 67%);
  border-color: hsla(4, 100%, 46%, 0.5);
}

.win-min-button {
  background-color: hsl(41, 99%, 63%);
  border-color: hsla(41, 99%, 32%, 0.5);
}

.win-max-button {
  background-color: hsl(144, 100%, 40%);
  border-color: hsla(144, 100%, 30%, 0.5);
}

main:not(.windowFocused) .windowctrls:not(:hover) .windowctrl {
  background-color: hsl(0, 0%, 86%);
  border-color: hsla(0, 0%, 46%, 0.5);
}

/***************************************
 *                                     *
 *               TABS                  *
 *                                     *
 ***************************************/

.tabbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  pointer-events: none;
  justify-content: center;
  transition: transform 200ms ease;
}

.tabbar-inner {
  pointer-events: auto;
  background-color: #444E59;
  border-radius: 4px 4px 0 0;
  padding: 0 4px;
}

.tab {
  width: 48px;
  height: 36px;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #979CA2;
  background-color: #555D66;
  margin: 8px;
}

.tab:hover {
  border-color: white;
}

.tab.selected {
  border-color: #16A7FF;
}

.addtabbutton {
  line-height: 36px;
  text-align: center;
  font-size: 18px;
  padding: 8px 12px 8px 7px;
  color: #979CA2;
}

.addtabbutton:hover {
  color: #16A7FF;
}

.addtabbutton::before {
  cursor: default;
  content: "+";
}

main.scrolled .tabbar {
  transform: translateY(54px);
}
