/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --hwd-pixel: 1px;
  background-color: white;
}

@media (min-resolution: 2dppx) {
  :root {
    --hwd-pixel: 0.5px;
  }
}

* {
  -moz-appearance: none;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: sans-serif;
  font-size: 12px;
  image-rendering: -moz-crisp-edges;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
}

[hidden="true"] {
  display: none;
}

*::-moz-focus-inner {
  border: 0;
}

html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.scrollable {
  display: flex;
  flex-flow: column;
  flex-basis: content;
  overflow-y: scroll;
  flex-shrink: 0;
  justify-content: flex-start;
}

.iframes, iframe, tab-iframe {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.navbar {
  display: flex;
  padding: 8px 16px 8px 8px;
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 150ms linear;
  --fg: #666;
  --bg: #fff;
}

.navbar.dark-bg {
  --fg: #FFF;
}

.leftbox,
.urlbar,
.rightbox {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}

.urlbar {
  margin: 0 8px;
}

.leftbox {
  flex-grow: 0;
}

/* .leftbox {  justify-content: space-between; } */
.urlbar {   justify-content: center }
.rightbox { justify-content: flex-end }

.naviationctrls {
  display: flex;
}

.windowctrls {
  display: flex;
}

.windowctrl {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  border-style: solid;
  border-width: var(--hwd-pixel);
}

.win-close-button {
  background-color: hsl(4, 100%, 67%);
  border-color: hsla(4, 100%, 46%, 0.5);
}

.win-min-button {
  background-color: hsl(41, 99%, 63%);
  border-color: hsla(41, 99%, 32%, 0.5);
}

.win-max-button {
  background-color: hsl(144, 100%, 40%);
  border-color: hsla(144, 100%, 30%, 0.5);
}

body:not(.windowFocused) .windowctrls:not(:hover) .windowctrl {
  background-color: hsl(0, 0%, 86%);
  border-color: hsla(0, 0%, 46%, 0.5);
}


.urlbar {
  display: flex;
  align-items: center;
  min-width: 0;
}

.urltitlecombo {
  display: flex;
  flex-grow: 1;
  font-size: 12px;
  font: -moz-field;
  position: relative;
  transition: color 150ms linear;
}

.navbar:not(.urledit) .urlinput,
.navbar.urledit .pageurlandtitle {
  max-width: 0;
  overflow: hidden;
}

.urlinput {
  width: 100%;
  color: inherit;
}

.navbar.dark-bg .urlinput::-moz-selection {
  color: var(--bg);
  background-color: var(--fg);
}

.pageurlandtitle {
  flex-grow: 1;
  display: inline-block;
  width: 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/* Buttons */

.toolbarbutton, .urlbarbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 16px;
  height: 16px;
  font-family: FontAwesome;
  color: var(--fg);
  transition: color 150ms linear;
}

.urlbarbutton.disabled,
.toolbarbutton.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.toolbarbutton {
  margin: 0 8px;
  font-size: 14px;
}

.urlbarbutton {
  font-size: 12px;
}

.navbar:not(.ssl) .pageurlsummary {
  font-weight: bold;
}

.pageurlsummary::before {
  font-family: FontAwesome;
  vertical-align: middle;
  margin-right: 3px;
}

.navbar.ssl .pageurlsummary::before {
  content: "\f023";
}

.navbar.ssl .pageurlsummary {
  color: #6A6;
}

.navbar.ssl.dark-bg .pageurlsummary {
  color: #6F6;
}

.navbar:not(.cangoforward) .forward-button,
.navbar:not(.loading) .stop-button,
.navbar.loading .reload-button {
  display: none;
}

/* See: http://fontawesome.io/cheatsheet/ */

.tabs-button::after {                   content: "\f096" }
.back-button::after {                   content: "\f060" }
.forward-button::after {                content: "\f061" }
.reload-button::after {                 content: "\f021" }
.stop-button::after {                   content: "\f00d" }
.reader-button::after {                 content: "\f031" }


.tabstrip {
  display: flex;
  flex-flow: row;
}

.tab {
  display: flex;
  width: 16px;
  opacity: 0.3;
}

.tab.selected {
  opacity: 1;
}

.addtab-button::before,
.tab::before {
  font-family: FontAwesome;
  vertical-align: middle;
  content: "\f111";
}

.tab.loading::before {
  content: "\f1ce";
  animation: spin 1s linear infinite;
}

.addtab-button::before {
  content: "\f055";
}

@keyframes spin { to { transform: rotate(360deg) } }
