/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --hwd-pixel: 1px;
  --bg: white;
}

@media (min-resolution: 2dppx) {
  :root {
    --hwd-pixel: 0.5px;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -moz-appearance: none;
  background-color: transparent;
  background-image: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  border-width: 0;
  font-family: sans-serif;
  font-size: 12px;
  /* image-rendering: -moz-crisp-edges; */
  white-space: nowrap;
  vertical-align: middle;
}

[hidden] {
  display: none;
}

*::-moz-focus-inner {
  border: 0;
}

/* Let's use flexbox everywhere */

main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  flex-flow: column;
  background-color: var(--bg);
  color: black;
  /* scroll-behavior: smooth; */
  display: flex;
}

main * {
  display: flex;
}

tab-iframe {
  flex-grow: 1;
  flex-shrink: 0;
}

iframe {
  display: flex;
  flex-grow: 1;
}

.iframes {
  flex-grow: 1;
}

.webviewer:not([hidden]).contentoverflows {
  min-height: 100vh;
}
