.appupdatebanner {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 10px;
  width: 400px;
  left: calc(50vw - 200px);
  background-color: rgba(36,60,83,0.95);
  border-radius: 4px;
  padding: 8px 8px 8px 20px;
  color: white;
  align-items: center;
  transition: opacity 500ms ease-in;
}

.appupdatebanner:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.appupdatebanner > span {
  font-weight: 100;
  cursor: default;
}

.appupdatebutton {
  background-color: rgb(115,206,113);
  padding: 8px 20px;
  font-weight: 100;
  border-radius: 4px;
  cursor: default;
}

.appupdatebutton:hover {
  background-color: rgb(115,216,113);
}
