.appupdatebanner {
  display: block;
  position: absolute;
  bottom: 10px;
  width: 400px;
  left: calc(50vw - 200px);
  background-color: rgba(36,60,83,0.95);
  border-radius: 4px;
  padding: 8px;
  color: white;
  transition: opacity 500ms ease-in;
}

.appupdatebanner:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.appupdatebanner > div {
  font-weight: 100;
  cursor: default;
}

.appupdatemessage {
  padding: 8px;
  float: left;
}

.appupdatebutton {
  padding: 8px 20px;
  background-color: rgb(115,206,113);
  border-radius: 4px;
  float: right;
}

.appupdatebutton:hover {
  background-color: rgb(115,216,113);
}
