.windowctrls {
  align-items: center;
  flex-shrink: 0;
  margin-left: 7px;
}

.windowctrl {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
}

.win-close-button {
  background-color: hsl(4, 100%, 67%);
}

.win-min-button {
  background-color: hsl(41, 99%, 63%);
}

.win-max-button {
  background-color: hsl(144, 100%, 40%);
}

main:not(.windowFocused) .windowctrls:not(:hover) .windowctrl {
  background-color: hsl(0, 0%, 86%);
}
