.windowctrls {
  align-items: center;
  flex-shrink: 0;
  margin-left: 7px;
}

.windowctrl {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  border-style: solid;
  border-width: var(--hwd-pixel);
}

.win-close-button {
  background-color: hsl(4, 100%, 67%);
  border-color: hsla(4, 100%, 46%, 0.5);
}

.win-min-button {
  background-color: hsl(41, 99%, 63%);
  border-color: hsla(41, 99%, 32%, 0.5);
}

.win-max-button {
  background-color: hsl(144, 100%, 40%);
  border-color: hsla(144, 100%, 30%, 0.5);
}

main:not(.windowFocused) .windowctrls:not(:hover) .windowctrl {
  background-color: hsl(0, 0%, 86%);
  border-color: hsla(0, 0%, 46%, 0.5);
}
