:root {
  --theme-color: rgba(255,255,255,0.95);
}

#veil {
  background-color: var(--theme-color);
  border-bottom: 1px solid #eee;
}

#userinput {
  font: -moz-field;
  font-size: 12px;
  line-height: 22px;
  vertical-align: bottom;
  min-width: 0;
  color: inherit;
}

#navbar {
  background-color: #EEE;
  border-radius: 1000px;
  padding: 0 20px;
}

.tile {
  background-color: #ccc;
  margin: 0 20px;
  border-radius: 2px;
  border: 3px solid transparent;
  padding: 5px;
  background-clip: padding-box;
}

.tile.selected {
  border-color: #ddd;
  background-color: #ddd;
}

.suggestion-description {
  color: blue;
}
