:root {
  --hwd-pixel: 1px;
  --theme-color: rgba(255,255,255,0.95);
  background-color: white;
}

* {
  -moz-appearance: none;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: sans-serif;
  font-size: 12px;
}

*::-moz-focus-inner {
  border: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: hidden;
}

iframe, tab-iframe {
  width: 100%;
  height: 100%;
  display: block;
}

[hidden="true"] {
  display: none;
}

#iframes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 200ms linear;
}

#navbox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: var(--theme-color);
  padding: 6px 6px 6px 0;
  transition-properties: transform, background-color;
  transition-duration: 200ms, 1000ms;
  transition-timing-function: ease;
}

#userinput {
  font: -moz-field;
  font-size: 12px;
  line-height: 22px;
  vertical-align: bottom;
  min-width: 0;
  width: 100%;
  color: inherit;
}

#navbar {
  background-color: #EEE;
  border-radius: 1000px;
  padding: 0 20px;
  margin: 0 12px;
}


#tabs {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.tab {
  display: flex;
  flex-basis: 180px;
  white-space: pre;
  padding: 3px;
  border-radius: 60px;
}

.tab:last-of-type {
}

.tab.selected {
  background-color: #EEE;
}

.icon {
  width: 16px;
  height: 16px;
  margin: 0 6px;
}

.tab > .title {
  flex-grow: 1;
  display: inline-block;
  width: 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font: -moz-field;
  font-size: 12px;
  outline: none;
  color: #777;
}

.tab:not(.selected) > .title {
  color: #CCC;
}

body:not(.scrolled) #iframes {
  transform: translateY(34px);
}

body.scrolled #navbox {
  transform: translateY(-34px);
}
