body {
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
}

.row {
  border-bottom: 1px solid #586e75;
  padding: 5px;
  white-space: nowrap;
}

.name {
  min-width: 300px;
}

.value {
  max-width: calc(100% - 300px);
}

.name, .value {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.value.cm-boolean:hover input,
.value.cm-number:hover input {
  text-decoration: underline;
}
.value.cm-boolean input {
  cursor: pointer !important;
}
