* {
  font-family: "San Francisco Text", "Helvetica Neue", "Helvetica", sans-serif;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border-width: 0;
  /* image-rendering: -moz-crisp-edges; */
}

:focus {
  border: 0;
  outline: 0;
}

/* @WORKAROUND: can't combine with above rule because of
  https://github.com/servo/servo/issues/9476 */
*::-moz-focus-inner {
  border: 0;
  outline: 0;
}

/* @WORKAROUND using percentage instead of vh/vw to work around
https://github.com/servo/servo/issues/8754 */
html,
body {
  width: 100%;
  height: 100%;
}

/* Prevents scrollbars to show up with out-of-window elements */
body {
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
  border-radius: 6px;
}